{% extends "main.twig" %}

{% block style %}
	<link rel="stylesheet" href="/css/addWorker.css">

{% endblock %}
{% block header %}
	<h1>{{ id == "newUser" ? "Ajouter" : "Editer"}} un employé</h1>
{% endblock %}

{% block main %}
	<form   action={{ id == "newUser" ? "/addWorker" : "/edit/" ~ id}} method="POST" enctype="multipart/form-data">
		<input type="text" id="name" name="name" placeholder="Nom de l'employé" {{ id == "newUser" ? 'required' : "" }} value={{ id == "newUser" ? '' :  worker.name }}>
		<input type="file" id="picture" name="picture" {{ id == "newUser" ? "required" : "" }}>
		<input type="text" id="position" name="position" placeholder="Poste de l'employé" {{ id == "newUser" ? "required" : ""}} value={{ id == "newUser" ? '' :  worker.position  }}>
		<input type="number" id="warningNumber" name="warningNumber" placeholder="Nombre de blame" {{ id == "newUser" ? "required" : ""}} value={{id == "newUser" ? '' :  worker.warningNumber }}>
		<button type="submit">valider</button>
	</form>
{% endblock %}
